{% extends "home.html" %}

{% load static %}

{% block body %}
<div class="mb-20 -mx-6 is-relative" style="height: 384px;">
    <div class = "login_model">
<br>
    <p class = "is-size-5 mb-10 has-text-grey" >  La pagina nace como proyecto de mi curso de python. Al ser mi primera pagina creada trate de enforcarme en un tema que sea de mi agrado , la comida</p>
    <p class = "is-size-5 mb-10 has-text-grey" >  Al ser mi primera experiencia me sirvio mucho para evolucionar tanto en backend como el frontend</p>
    <p class = "is-size-5 mb-10 has-text-grey" >  Espero seguir por este camino de aprendizaje y generar nuevamente esta idea a otro nivel</p>
    <p class = "is-size-5 mb-10 has-text-grey" >  Desde ya muchas gracias</p>
</div>
</div>  
{% endblock %}